.question-answer-container {
  border: 1px solid;
  margin: 20px 0;
  padding: 8px;
  border-radius: 5px;
  position: relative;

  @media (min-width: 768px) {
    padding: 40px 40px 45px 40px;
  }
}

.editor-container {
  margin-top: 20px;
}

.all-chapter {
  margin-bottom: 10px;
  display: block;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

select {
  align-self: start;
}

button[disabled] {
  color: #4f4f4f;
  background-color: #e5e5f7;
  opacity: 0.5;
  background-color: #e0e0e0;
  opacity: 0.6;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #9b9b9b 0, #9b9b9b 1px, #e0e0e0 0, #e0e0e0 25%);
}

.button-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    flex-wrap: nowrap;
  }

  button {
    width: calc(50% - 4px);
  }

  &.admin-controls {
    button {
      width: calc(50% - 4px);
      @media (min-width: 600px) {
        width: calc(33.3% - 4px);
      }
    }
  }
}

.grade-button {
  position: absolute;
  bottom: 0;
  width: 50%;
  color: #fff;
  font-size: 1.5rem;
}

.right-button {
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  background-color: #46d746;
  &:hover {
    background-color: #00a200;
  }
}

.wrong-button {
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  background-color: #ff163c;
  &:hover {
    background-color: #cf0728;
  }
}

.answer {
  white-space: pre-wrap;
}
