<div class="question-container">
  <select (change)="onChapterChange(chapterSelect.value)" #chapterSelect>
    <option value="all">
      All Chapters
    </option>
    <option *ngFor="let chapter of chapters" [value]="chapter">
      Chapter {{chapter}}
    </option>
  </select>
  
  <div class="question-answer-container">
    <div class="container">
      <label *ngIf="activeChapter === 'all'" class="all-chapter">Chapter: {{currentQuestion?.chapter}}</label>
      <label *ngIf="currentQuestion?.question">Question {{ ' ' + (questionIndex + 1)}}:</label>
      <p>{{currentQuestion?.question ? currentQuestion?.question : 'You have reached the end of ' + (activeChapter === 'all' ? 'all questions' : ('Chapter ' + activeChapter)) + '.'}}</p>
      <ngx-monaco-editor *ngIf="currentQuestion?.questionSnippet" [options]="editorOptions" [(ngModel)]="currentQuestion.questionSnippet"></ngx-monaco-editor>
    </div>
    
    <div class="container" *ngIf="showAnswer">
      <label>Answer:</label>
      <p class="answer">{{currentQuestion?.answer}}</p>
      <ngx-monaco-editor *ngIf="currentQuestion?.answerSnippet" [options]="editorOptions" [(ngModel)]="currentQuestion.answerSnippet"></ngx-monaco-editor>
    </div>
  </div>  
  <div class="button-container">
    <button *ngIf="currentQuestion?.question" (click)="showAnswer = true">Answer</button>
    <button (click)="showNextQuestion()">Next</button>
    <button *ngIf="!edit && currentQuestion?.question" (click)="edit = true">Edit</button>
    <button *ngIf="edit" [routerLink]="['/add-question', questions?.[questionIndex]]">Update</button>
    <button *ngIf="edit" (click)="deleteQuestion(questions?.[questionIndex]?.id)">Delete</button>
  </div>
  
  <div class="editor-container">
    <label>Practice Editor:</label>
    <ngx-monaco-editor [options]="editorOptions"></ngx-monaco-editor>
  </div>
</div>