<div class="question-container">
  <select (change)="getChapterQuestions(chapterSelect.value)" #chapterSelect class="chapter-select">
    <option value="all">
      All Chapters
    </option>
    <option *ngFor="let chapter of chapters" [value]="chapter" [attr.selected]="chapter.toString() === activeChapter ? true : null">
      {{chapterNames.get(chapter)}}
    </option>
  </select>
  
  <div class="question-answer-container">
    <div class="container">
      <label *ngIf="activeChapter === 'all' && currentQuestion?.question" class="all-chapter">Chapter {{currentQuestion?.chapter}}</label>
      <label *ngIf="currentQuestion?.question">Question {{ ' ' + (questionIndex + 1)}}</label>
      <p>{{currentQuestion?.question ? currentQuestion?.question : 'You have reached the end of ' + (activeChapter === 'all' ? 'all questions' : ('Chapter ' + activeChapter)) + '.'}}</p>
      <ng-container *ngIf="!currentQuestion?.question">
        <p *ngIf="!isReview">
          Score: {{ questions.length - getNumberQuestionsWrong() }} / {{ questions.length }}
        </p>
        <p *ngIf="isReview">
          {{ getNumberQuestionsWrong() > 0 ? getNumberQuestionsWrong() + " review questions remaining." : "All review questions have been answered correctly." }} 
        </p>
        <div >
          <button *ngIf="getNumberQuestionsWrong() > 0" (click)="reviewMissedQuestions()" style="margin-right: 5px">Review Missed Questions</button>
          <button (click)="getChapterQuestions(activeChapter);">Review All Questions</button>
        </div>
      </ng-container>
      <div>
        <ngx-monaco-editor *ngIf="currentQuestion?.questionSnippet" [options]="editorOptions" [(ngModel)]="currentQuestion.questionSnippet"></ngx-monaco-editor>
      </div>
    </div>
    
    <div class="container" *ngIf="showAnswer">
      <label>Answer</label> 
      <p class="answer">{{currentQuestion?.answer}}</p>
      <div>
        <ngx-monaco-editor *ngIf="currentQuestion?.answerSnippet" [options]="editorOptions" [(ngModel)]="currentQuestion.answerSnippet"></ngx-monaco-editor>
      </div>
    </div>

    <ng-container *ngIf="showAnswer">
      <button class="grade-button right-button" (click)="markQuestionRight()">✓</button>
      <button class="grade-button wrong-button" (click)="markQuestionWrong()">✗</button>
    </ng-container>
  </div>

  <div class="button-container" [ngClass]="{'admin-controls': isAdmin}">
    <button [attr.disabled]="questionStatus" (click)="showAnswer = true">Answer</button>
    <button [attr.disabled]="questionStatus" (click)="showNextQuestion()">Next</button>
    <button [attr.disabled]="questionStatus" (click)="showPrevQuestion()">BACK</button>
    <button *ngIf="isAdmin && !edit" [attr.disabled]="questionStatus" (click)="edit = true">Edit</button>
    <button *ngIf="isAdmin && edit" (click)="updateQuestion()">Update</button>
    <button *ngIf="isAdmin && edit" (click)="deleteQuestion(questions?.[questionIndex]?.id)">Delete</button>
  </div>
  
  <div class="editor-container">
    <label>Practice Editor</label>
    <ngx-monaco-editor [options]="editorOptions"></ngx-monaco-editor>
  </div>
</div>