<nav>
  <div class="menu">
    <a [routerLink]="['/quiz']" [routerLinkActive]="['is-active']">Quiz</a>
    <a *ngIf="userService.hasAdminAccess()" 
       [routerLink]="['/add-question']" 
       [routerLinkActive]="['is-active']">Add Question</a>
  </div>
  <a *ngIf="!userService.isUserLoggedIn()" [routerLink]="['/login']" [routerLinkActive]="['is-active']">Log In</a>
  <a *ngIf="userService.isUserLoggedIn()"
  [routerLink]="['/login']" 
    (click)="userService.logout()" 
    [routerLinkActive]="['is-active']">Log Out</a>
</nav>
