nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  padding: 10px 0;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }

  .menu {
    a {
      margin-right: 10px;
    }
  }

  .is-active {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
  }
}